<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head"></head>
<body>
	<div id="head">
		<h1>Fahrtenbuch S3</h1>
	</div>
	<div th:include="menu::menu" id="menu"></div>
	<div id="content">
		<h2 th:text="${title}">Willkommen!</h2>
		<p th:text="${message}">Text</p>
		<form method="post" action="wwadm/SavePerson.html">
			<table class="editing">
				<colgroup>
					<col class="attribute"/>
					<col class="value"/>
				</colgroup>
				<tbody>
					<tr>
						<td>Vorname des Vereinsmitglieds:</td>
						<td>
							<input type="hidden" name="id" th:value="${person.id}"/>
							<input type="text" name="vorname" th:value="${person.vorname}" size="50" />
						</td>
					</tr>
					<tr>
						<td>Nachname des Vereinsmitglieds:</td>
						<td>
							<input type="text" name="nachname" th:value="${person.nachname}" size="50" />
						</td>
					</tr>
					<tr>
						<td>Telefonnummer:</td>
						<td>
							<input type="text" name="telefon" th:value="${person.telefon}" size="50"/>
						</td>
					</tr>
					<tr>
						<td>Benutzername:</td>
						<td>
							<input type="text" name="userid" th:value="${person.userid}" size="50"/>
						</td>
					</tr>
					<tr>
						<td>Passwort:</td>
						<td>
							<input type="text" name="password" th:value="${person.password}" size="50"/>
						</td>
					</tr>
					<tr>
						<td>Rolle:</td>
						<td>
							<input type="text" name="role" th:value="${person.role}" size="50"/>
						</td>
					</tr>
					<tr class="submit">
						<td colspan="2">
								<input type="submit" value=" Änderungen übernehmen "/>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>  