<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head"></head>
<body>
	<div id="head">
		<h1>Fahrtenbuch S3</h1>
	</div>
	<div th:include="menu::menu" id="menu"></div>
	<div id="content">
		<h2 th:text="${title}">Willkommen!</h2>
		<p th:text="${message}">Text</p>
		<table class="listing">
			<colgroup>
				<col th:if="${edit}" class="buttoncell"/>
				<col th:if="${edit}" class="buttoncell"/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<tbody>
				<tr>
					<th th:if="${edit}"></th>
					<th th:if="${edit}"></th>
					<th>Name</th>
					<th>Sitze</th>
					<th>Bootsklasse</th>
				</tr>
				<tr th:each="boot : ${boote}">
					<td th:if="${edit}">
						<a href="EditBoot.html" th:href="@{EditBoot.html(id=${boot.id})}">
							<img src="images/button_edit.png" alt="Icon - Bearbeite Boot"/>
						</a>
					</td>
					<td th:if="${edit}">
						<a href="LoescheBoot.html" th:href="@{LoescheBoot.html(id=${boot.id})}">
							<img src="images/button_drop.png" alt="Icon - Lösche Boot"/>
						</a>
					</td>
					<td>
						<a th:if="${edit}" th:href="@{EditBoot.html(id=${boot.id})}" th:text="${boot.name}"></a>
						<a th:if="${not edit}" th:href="@{BeginneFahrt.html(id=${boot.id})}" th:text="${boot.name}"></a>
					</td>
					<td th:text="${boot.sitze}"></td>
					<td th:text="${boot.klasse}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>  