<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head"></head>
<body>
	<div id="head">
		<h1>Fahrtenbuch S3</h1>
	</div>
	<div th:include="menu::menu" id="menu"></div>
	<div id="content">
		<h2 th:text="${title}"></h2>
		<p th:text="${message}"></p>
		<table class="listing">
			<colgroup>
				<col class="buttoncell"/>
				<col class="buttoncell"/>
				<col/>
				<col/>
			</colgroup>
			<tbody>
				<tr>
					<th></th>
					<th></th>
					<th>Name</th>
					<th>Telefon</th>
				</tr>
				<tr th:each="person : ${personen}">
					<td>
						<a th:href="@{adm/EditPerson.html(id=${person.id})}">
							<img src="images/button_edit.png" alt="Icon - Bearbeite Boot"/>
						</a>
					</td>
					<td>
						<a th:href="@{adm/LoeschePerson.html(id=${person.id})}">
							<img src="images/button_drop.png" alt="Icon - Lösche Boot"/>
						</a>
					</td>
					<td>
						<a th:href="@{adm/EditPerson.html(id=${person.id})}" th:text="${person.vorname}+' '+${person.nachname}"></a>
					</td>
					<td th:text="${person.telefon}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>  