<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- script th:src="@{/webjars/jquery/3.4.1/jquery.min.js} "></script -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script -->
	<script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.min.js}"></script>
</div>
</html>