<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head"></head>
<body>
	<div class="container-fluid">
		<h1>Fahrtenbuch</h1>
	</div>
	<nav th:include="menu::menu"></nav>
	<div class="container-fluid"><h2 th:text="${title}">Titel</h2></div>
	<div class="container-fluid"><p th:text="${message}">Nachricht</p></div>
	<div class="container-fluid">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Boot</th>
					<th>Abfahrt</th>
					<th>Ankunft</th>
					<th>Mannschaft</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fahrt : ${fahrten}">
					<td>
						<a href="StopFahrt.html" th:href="@{~/svc/fahrt/beende(id=${fahrt.id})}" th:text="${fahrt.bootsname}"></a>
					</td>
					<td th:text="${fahrt.abfahrt}"></td>
					<td th:text="${fahrt.ankunft}"></td>
					<td th:text="${fahrt.mannschaft}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:include="foot::foot"></div>
</body>
</html>