<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head"></head>
<body>
	<div class="container-fluid">
		<h1>Fahrtenbuch</h1>
	</div>
	<div th:include="menu::menu"></div>
	<div class="container-fluid"><h2 th:text="${title}">Willkommen!</h2></div>
	<div class="container-fluid"><p th:text="${message}">Text</p></div>
	<div class="container-fluid">
		<table class="table table-striped table-hover">
			<tbody>
				<tr>
					<th th:if="${edit}"></th>
					<th th:if="${edit}"></th>
					<th>Name</th>
					<th>Sitze</th>
					<th>Bootsklasse</th>
				</tr>
				<tr th:each="boot : ${boote}">
					<td th:if="${edit}">
						<a href="edit" th:href="@{~/boot/edit(id=${boot.id})}" >
							<img src="/webjars/open-iconic/1.1.1/svg/pencil.svg">
						</a>
					</td>
					<td th:if="${edit}">
						<a href="delete" th:href="@{~/boot/delete(id=${boot.id})}">
							<img src="/webjars/open-iconic/1.1.1/svg/x.svg">
						</a>
					</td>
					<td>
						<a th:if="${edit}" th:href="@{~/boot/edit(id=${boot.id})}" th:text="${boot.name}"></a>
						<a th:if="${not edit}" th:href="@{~/fahrt/beginne(id=${boot.id})}" th:text="${boot.name}"></a>
					</td>
					<td th:text="${boot.sitze}">0</td>
					<td th:text="${boot.klasse}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:include="foot::foot"></div>
</body>
</html>  