<div id="menu">
	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="FreieBoote.html">Fahrt eintragen</a></li>
		<li><a href="AktuelleFahrten.html">Fahrt austragen</a></li>
	</ul>
	<ul>
		<li><a href="EditBoot.html">Neues Boot eintragen</a></li>
		<li><a href="AlleBoote.html">Alle Boote</a></li>
		<li><a href="EditPerson.html">Neue Person eintragen</a></li>
		<li><a href="AllePersonen.html">Alle Personen</a></li>
		<li><a href="AlleFahrten.html">Alle Fahrten</a></li>
	</ul>
	<ul>
		<li><a href="AlleFahrtenVoll.html">Fahrten (admin)</a></li>
	</ul>
</div>