<div id="menu">
	<ul>
		<li><a href="Home.s">Home</a></li>
		<li><a href="FreieBoote.s">Fahrt eintragen</a></li>
		<li><a href="AktuelleFahrten.s">Fahrt austragen</a></li>
	</ul>
	<ul>
		<li><a href="NeuesBoot.s">Neues Boot eintragen</a></li>
		<li><a href="AlleBoote.s">Alle Boote</a></li>
		<li><a href="NeuePerson.s">Neue Person eintragen</a></li>
		<li><a href="AllePersonen.s">Alle Personen</a></li>
		<li><a href="AlleFahrten.s">Alle Fahrten</a></li>
	</ul>
	<ul>
		<li><a href="AlleFahrtenVoll.s">Fahrten (admin)</a></li>
	</ul>
</div>